.icon-container {
  position: relative;
  margin-top: 25%;
}

.text-e {
  position: absolute;
  margin-left: 10%;
  animation: moveUp 3s forwards, moveDown 3s 4.2s forwards;
}

.language {
  position: absolute;
  margin-left: 28%;
  animation: moveUp 3s forwards, moveDown 3s 5.4s forwards;
 

}
.text-l {
  position: absolute;
  margin-left: 48%;
  animation: moveUp 3s forwards, moveDown 3s 6.6s forwards;

}



.public {
  position: absolute;
  margin-left: 65%;
  animation: moveUp 3s forwards, moveDown 3s 7.8s forwards;

}

.translate {
  position: absolute;
  margin-left: 85%;
  animation: moveUp 3s forwards, moveDown 3s 9s forwards;

}

@keyframes moveUp {
  0% {
    transform: translateY(0);
  }

  100% {
    transform: translateY(-100%);
  }
}

@keyframes moveDown {
  0% {
    transform: translateY(-100%);
  }

  100% {
    transform: translateY(0%);
  }
}