.icon-container {
  position: relative;
  margin-top: 15%;
}

.text-e {
  position: absolute;
  margin-left: 10%;
  animation: moveText 3s infinite linear;
}

.text-l {
  position: absolute;
  margin-left: 48%;
  animation: moveText 3s infinite linear;
}

.language {
  position: absolute;
  margin-left: 28%;
  animation: moveIcon 3s infinite linear;
}

.public {
  position: absolute;
  margin-left: 65%;
  animation: moveIcon 3s infinite linear;
}

.translate {
  position: absolute;
  margin-left: 85%;
  animation: moveIcon 3s infinite linear;
}

@keyframes moveText {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(100%);
  }
}

@keyframes moveIcon {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(100%);
  }
}
